@page
@model LVVWDWebGoat.Pages.A04ForgotPasswordModel
@{
}
<h1>(H)ACME Pasword Recovery System</h1>
<p>Answer me these questions 3, and your password I shall give to thee:</p>
<form method="post">
    <span>Username:&nbsp;</span><input name="username" type="text" />
    <br />
    Question 1: @ViewData["Question1"]&nbsp;<input name="Answer1" type="text" />
    <br />
    Question 2: @ViewData["Question2"]&nbsp;<input name="Answer2" type="text" />
    <br />
    Question 3: @ViewData["Question3"]&nbsp;<input name="Answer3" type="text" />
    <br />
    <input type="submit" />
</form>

@if (Model.showPassword)
{
    <br />
    <h4>@ViewData["username"]</h4>
    <br/>
    <h4>@ViewData["password"]</h4>
}
else if(Model.tryAndFail)
{
    <h4>Your answers were incorrect. Please try again</h4>

}


